<link rel="import" href="../polymer/polymer.html">


<dom-module id="md-icon-card">
    <style>
        :host .card-text{
            display:-webkit-flex;
            display:flex;
            -webkit-flex-direction: column;
            flex-direction:column;
        }
    </style>
    <template>
        <span id="span-icon"></span>
        <div class="card-text">
            <content></content>
        </div>
    </template>
</dom-module>
<script>

    Polymer({
        is: 'md-icon-card',
        properties:{
            icon:{
                type:String,
                value:null
            }
        },

        ready:function(){
            this._setIcon();
        },

        _setIcon:function(){
            if(this.icon){
                var span=this.$['span-icon'];
                var icon = 'icon-' + this.icon;
                span.classList.add(icon);
            }
        }
    });

</script>