<link rel="import" href="../polymer/polymer.html">


<dom-module id="md-icon-badge">
    <template>
        <md-badge id="md-badge"></md-badge>
        <span id="span-icon"></span>
        <content></content>
    </template>
</dom-module>
<script>

    Polymer({
        is: 'md-icon-badge',
        properties:{
            text:{
                type:String,
                value:null
            },
            icon:{
                type:String,
                value:null
            }
        },

        ready:function(){
            this._setText();
            this._setIcon();
        },

        _setText:function(){
            if(this.text){
                var badge=this.$['md-badge'];
                badge.innerHTML(this.text);
            }
        },

        _setIcon:function(){
            if(this.icon){
                var span=this.$['span-icon'];
                var icon = 'icon-' + this.icon;
                span.classList.add(icon);
            }
        }

    });

</script>