<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="md-avatar.html">
<link rel="import" href="md-badge.html">
<link rel="import" href="md-card.html">
<link rel="import" href="md-icon-badge.html">
<link rel="import" href="md-icon-card.html">
<script>
    Polymer({is:'md-layout'});
    Polymer({is:'md-toolbar'});
    Polymer({is:'md-list'});
    Polymer({is:'main-panel'});
    Polymer({is:'side-panel'});
    Polymer({is:'md-bar'});
    Polymer({is:'nav-list'});
    Polymer({is:'md-grid-box'});
    Polymer({is:'md-brand'});
    Polymer({is:'md-content'});
</script>